#dangky{
	margin-top:2rem;
	font-family: 'Roboto Condensed', sans-serif;
}
.link{
	font-size: 12px;
}
.link a{
	color: #000000
}
.link a:hover{
	text-decoration: none;
}
#dangky h2.text-center{
	font-size:22px;
	font-weight: 600;
}
.support{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1rem;
}
.support ul{
	list-style: none;
	display: flex;
	font-size: 12px;
	width: 70%;
	margin: auto;
	margin-bottom: 1rem;
}
.support ul li{
	border-right: solid 1px #cccccc;
	height: 20px;
	padding:0 1.5rem 1rem 1.5rem ;
}
.support ul li:last-child{
	border: 0;
}
.support ul li a,.support ul li p{
	color: #000000;

}
.form-dky{
	padding : 30px 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
	margin-bottom: 20px;
}
.form-dky h2.title{
	font-size: 20px;
}
.form-dky p.mt-2{
	font-size: 12px;
}
.form-dky tr{

}
.form-dky tr td{
	font-size: 13px;
	font-weight: 500;

}
.form-dky tr td p{
	margin: 0.5rem 1.5rem;
}
.form-dky .sex{
	margin-right: 2rem;
}
.form-dky .dieukhoan{
	font-size: 14px;
}
form input[type="text"],
form input[type="password"],
form input[type="number"],
form select{
	border-radius: 5px;
	padding-left: 0.5rem;
}
form select{
	height: 25px;
}
@media only screen and (max-width: 768px){
	.support.policy.mt-2
	{
		display: none;
	}
}
@media only screen and (max-width: 576px)
{
	.form-dky tr td p{
		margin: 0.5rem 0;
	}
	.name,.address{
		margin-right: 0rem !important;
	}
}